# Comprehensive Git ignore

# Node.js
node_modules/

# Output of build tools
/dist/
/out/

# IDE or text editor configuration
.vscode/
.idea/

# Dependency lock files
package-lock.json
yarn.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.DS_Store
Thumbs.db

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Test coverage
coverage/

# Compiled files
*.log
*.pot
*.err
*.out

# Ignore artifacts for commonly used build tools like Webpack, Babel, etc.
# Add any additional build or transpiler artifacts here
/dist/
/build/
/public/

# Ignore your personal or sensitive files
# example: secrets.json, .env

# Ignore development configurations
# example: config.dev.js, config.prod.js

# Ignore Python-related files
*.pyc         # Compiled Python files
__pycache__/  # Cached Python files
*.pyo
*.pyd
*.db
*.sqlite3

# Ignore Java-related files
*.class       # Compiled Java class files
*.jar         # Jar files
/target/      # Maven or other build tool output directories
/bin/         # Eclipse IDE build output directory
/out/         # IntelliJ IDEA build output directory


